@charset "utf-8";
/* CSS Document */
.bodder{
	background-color:rgba(173,213,162,1.00);
}
.neirong{
	
}
.maid{
	height: 92.8vh;
	overflow:auto;
	padding-left: 20px;
}
h3{
	color: red;
	padding-bottom: 15px;
}
h4{
	color: #ED6D46;
	text-indent: 0em;
	padding-bottom: 15px;
	
}
li{
	list-style-type: none;
	margin-bottom: 15px;
	margin-top: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
}
.maid li{
	border: 2px solid #000000;
	background-color:#E6F1F7;
}
p{
	line-height: 1.6;
	padding-top: 20px;
}
.xx a{
	color:#000000;
}
.xx{
	height: 50vh;
}
.tz{
	height: 40vh;
	float: right;
	width: 40%;
}