@charset "utf-8";
/* CSS Document */
body{
	background-color:#D1E4E7;
}
.mume{
    background-color:#D3DFAE; 
	border: 2px solid #000000;
	padding: 10px 8px;
}
.mume a{
	color: #000000;
	text-decoration:none;
}
li{
	margin: 16px 0px;
}
.sumer{
	display: none;
}
.daohang{
	float: left;
	width: 13%;
}
.main{
	float: right;
	width: 85%;
	overflow:auto;
	height: 92.5vh;
}
.zsk{
	display: none;
}
.zsk a{
	color: #000000;
	text-decoration:none;
}
.zsk h4{
	color:#F80004;
}
.column {
		padding: 6px 0px;
	    margin: 2px;
	    text-align: center;
        cursor: pointer;
        background-color: #E3BD8D	;
	    border: 2px solid #000000;
        }