@charset "utf-8";
/* CSS Document */
body{
	background-color: #a4c9cc;
}
.mume{
    background-color:#D2DDB9; 
	border: 2px solid #000000;
}
.mume a{
	color: #000000;
	text-decoration:none;
}
dt{

	background-color: #A5B2A5;
	border: 2px solid #000000;
}
li{
	margin: 16px 0px;
}
.sumer{
	display: none;
}
.daohang{
	float: left;
	width: 13%;
}
.main{
	float: right;
	width: 85%;
	overflow:auto;
	height: 92.5vh;
}
.zsk{
	display: none;
}
.zsk a{
	color: #000000;
	text-decoration:none;
}
.zsk h4{
	color:#F80004;
}
.column {
		padding: 6px 0px;
	    margin: 2px;
	    text-align: center;
        cursor: pointer;
        }
#prive{
	max-height: 500px;
	max-width: 500px;
	display: none;
}