@charset "utf-8";
/* CSS Document */
body {
background-image: url("");
background-repeat: no-repeat;
background-size: cover;
}
.menu {
      display: flex;
    }
.menu-button {
      margin-right: 10px;
      cursor: pointer;
    }
.content {
      margin-top: 20px;
      display: none;
    }
.nav{
	background-color: #DDD7D7;
	text-align: center;
	height: 42px;
}
button{
	padding: 10px 20px;
	margin:0 20px;
}
.daohang{
	background-color:#B3C0CB;
	width: 12%;
	float: left;
	height: 100vh;
}
dt{
	padding: 5px 10px;
	margin: 5px;
	background-color:#E9E9E9;
	border: 2px solid black;
}
a{
	text-align: center;
	text-decoration:none;
	font-weight: 400;
	color: #000000;
	padding-left: 3px;
}
li{
	margin-top: 2px;
}
ol{
	margin-top: 10px;
	color: #FF7E00;
}
ol a{
	color:#CB0000;
	font-size: 20px;
}
.div3{
}
.wenben li{
	margin-top:20px;
}
.sumer{
	display: none;
}
.wenben{
	display:none;
	width: 87%;
	float: right;
	height: 100vh;
	background-color: #CACACA;
}